<%- include('partials/header'); -%>
<h3>The weather is currently <%= wdata%></h3>
<h1 style="font-family: 'Leckerli One', cursive;">Temperature in <%= que%> is <%=tem%> degree celcius</h1>
<img src="<%=imgu%>" alt="">
<%- include('partials/footer'); -%>